<div class="vendingMachineView">
  <vm-items-view class="vendingMachineView-items" [items]="items" [enteredPosition]="keypadValue"></vm-items-view>
  <div class="vendingMachineView-panel">
    <vm-display [message]="currentStatus | getUserMessage: keypadValue :(selectedItem?.price): validationErrors : totalSumOfMoneyInsertedByUser"
                class="vendingMachineView-display">
    </vm-display>
    <vm-keypad [(ngModel)]="keypadValue" (actionKeyClicked)="keypadActionKeyClicked($event)"></vm-keypad>
    <vm-bill-acceptor (onBillAdded)="onMoneyAdded($event)"></vm-bill-acceptor>
    <vm-card-reader (onCardScan)="onCreditCardScanned($event)"></vm-card-reader>
    <vm-coin-acceptor (onCoinAdded)="onMoneyAdded($event)"></vm-coin-acceptor>
    <vm-change-function [change]="change" (click)="change = 0"></vm-change-function>
  </div>
  <div class="vendingMachineView-pickUpBox">
    pick up your snack
    <fa-icon *ngIf="itemDropped" [icon]="faApple"
             (click)="itemDropped = false"></fa-icon>
  </div>
</div>

status: {{VendingStatusMap[currentStatus]}}
userChangeList: {{userChangeList | json}}
key represent coin/bill, value is the amount
